<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${s != null}">
    <span>Tên:</span>
    <span th:text="${s.name}"></span><br>
    <span>ID:</span>
    <span th:text="${s.id}"></span><br>
    <span>Email</span>
    <span th:text="${s.username}"></span>
</div>
<div th:if="${c != null}">
    <span>Tên:</span>
    <span th:text="${c.name}"></span><br>
    <span>ID:</span>
    <span th:text="${c.id}"></span><br>
    <span>Email</span>
    <span th:text="${c.email}"></span>
</div>

</body>
</html>